body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

@layer utilities {
    .animate-gradient-bg {
        animation: gradientBG 20s ease infinite;
        background-size: 600% 600%;
    }

    @keyframes gradientBG {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

    .animate-fadeIn {
        animation: fadeIn 1.5s ease forwards;
        opacity: 0;
    }

    @keyframes fadeIn {
        to { opacity: 1; }
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left h1 {
    margin: 0;
    font-size: 26px;
}

.header-left .logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.header-right a:hover {
    color: #ffeb3b;
    transform: scale(1.1);
}

main {
    padding: 50px;
}

section {
    margin-bottom: 80px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 3px solid #ffeb3b;
    display: inline-block;
    padding-bottom: 5px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

footer {
    color: #fff;
    background-color: rgba(15, 22, 32, 0.5);
    backdrop-filter: blur(5px);
    padding: 20px;
    text-align: center;
}

footer a {
    color: #ffeb3b;
    margin: 0px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}

#lightbox {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#lightbox.show {
    opacity: 1;
}

#lightboxImagem.show {
    opacity: 1;
    transform: scale(1);
}
