        /* Sombra suave e borda arredondada padrão */
        .card {
          border-radius: 1rem;
          background-color: rgba(15, 22, 32, 0.356) !important;
          /* leve transparência */
          backdrop-filter: blur(10px) !important;
          background: var(--c-gray-2);
          color: var(--c-white);
        }

        /* Botões primários */
        .btn {
          border-radius: .5rem;
          font-weight: 600;
          transition: transform .15s ease, box-shadow .15s ease;
          background-color: rgba(15, 22, 32, 0.356) !important;
          /* leve transparência */
          backdrop-filter: blur(10px) !important;
          color: var(--c-white);
          padding: 0.3rem 0.4rem;
          display: inline-block;
          margin-top: 1rem;
        }

        .btn:hover {
          transform: translateY(1px);
          background: var(--c-white);
          text-decoration: underline;
        }